.divCardArtiste {
}

.CardArtiste {
  display: flex;
  align-items: center;
}

.CardDescription {
  display: grid;
  justify-content: flex-end;
  margin-right: 3rem;
}

.logoArtiste {
  margin-right: 1rem;
  border-radius: 50%;
  width: 100px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .divCardArtiste {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
}
